{% extends "app/layout.html" %}

{% block content %}

<h2><strong>{{ title }}</strong></h2>
<h3>{{ message }}</h3>

<div>
    <h3>Azerul Bin Badrul Isham</h3>
    <address>
        <abbr>Student ID:</abbr>
        1201101128 <br>
        Faculty of Computing &amp; Informatics<br />
        Multimedia University<br />
    </address>
</div>

<div>
    <h3>Addina Binti Mohd Amli</h3>
    <address>
        <abbr>Student ID:</abbr>
        1201100480 <br>
        Faculty of Computing &amp; Informatics<br />
        Multimedia University<br />
    </address>
</div>

<div>
    <h3>Danial Bin Muhammad Anson</h3>
    <address>
        <abbr>Student ID:</abbr>
        1201101577 <br>
        Faculty of Computing &amp; Informatics<br />
        Multimedia University<br />
    </address>
</div>

<div>
    <h3>Muhammad Faiez Bin Kamarul</h3>
    <address>
        <abbr>Student ID:</abbr>
        1201101051 <br>
        Faculty of Computing &amp; Informatics<br />
        Multimedia University<br />
    </address>
</div>

{% endblock %}
